.showMenu:hover {
  cursor: pointer;
}
@mixin navOffset($offset) {
  position: -webkit-sticky;
  position: sticky;
  top:  $offset;
  z-index: 1000;
  height: calc(100vh - $offset);

}
.flexContainer {
  min-width: 340px;
  min-height: 667px;
  & > header {
    position: sticky;
    height: '64px';
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  }

  section {
    nav {
      @include navOffset(0px);

      background-color: #f8f9fa;
      display: flex;
      flex-flow: column;

      header {
        flex: 0 0 67px
      }
      ul {
        flex: 1 1;
        overflow-y: auto;

        li {
          transition: 0.4s;
        }

        li:hover {
          padding-left: 10px;
        }
      }
      footer {
        flex: 0 0 112px;
        border-top: 1px solid var(--bs-gray-400);
      }
    }

    article {
      flex: '1 0 850px';
      background-color: 'blue';
      border-top: 1px solid var(--bs-gray-400)
    }

  }
}

@media (max-width: 768px) {
  .flexContainer {
    section {
      nav {
        // display: none;
        width: 180px;
        z-index: 100;
        position: fixed;
        top: 67px;
        // left: 0px;
        height: calc(100vh - 67px);
        // height: 100%

        header {
          display: none !important;
        }
      }
      .hideNav {
        left: -180px;
        transition: 500ms;
      }
      .showNav {
        left: 0px;
        transition: 500ms;
      }
      article {
        // height: calc(100vh - 67px);
      }
    }
  }
}