.showMenu:hover {
  cursor: pointer;
}
@mixin navOffset($offset) {
  position: -webkit-sticky;
  position: sticky;
  top:  $offset;
  z-index: 1000;
  height: calc(100vh - $offset);

}
.flexContainer {
  min-width: 400px;
  min-height: 667px;
  & > header {
    position: sticky;
    height: '64px';
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  }

  section {
    nav {
      @include navOffset(0px);

      display: flex;
      flex-flow: column;

      header {
        flex: 0 0 67px
      }
      ul {
        flex: 1 1;
        overflow-y: auto;

        li {
          transition: 0.4s;
        }

        li:hover {
          padding-left: 10px;
        }
      }
      footer {
        flex: 0 0 67px
      }
    }

    article {
      flex: '1 0 850px';
      background-color: 'blue';
    }

  }
}

@media (max-width: 768px) {
  .flexContainer {
    section {
      nav {
        // display: none;
        width: 239px;
        z-index: 100;
        position: fixed;
        left: -39px;
        top: 67px;
        height: calc(100% - 67px);
        // height: 100%
      }
      article {
        // height: calc(100vh - 67px);
      }
    }
  }
}