.showMenu:hover {
  cursor: pointer;
}

.flexContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flexContainer {

  header {
    flex: 0 1 67px;
  }

  section {
    flex: 1 1 667px;
  }

}