.sendMoneyModalContainer {
  --bs-modal-header-border-width: 0px !important;
}

.progressBarRefactor {
  --bs-progress-height: 1px !important;
}

@media (min-width: 575.98px) {
  .sendMoneyModalContainer > div{
    --bs-modal-width: 570px !important;
  }
}