.left {
  background-color: aquamarine;
}

.right {
  height: 100vh;
}
.left {
  height: 100vh;
}
.logoHeight {
  height: 12%
}
.formWidth {
  width: 70%
}

.buttonHoverColor:hover {
  background-color: hsl(162 41% 90%) !important;
  color: #1A6B54 !important;
}

@media (max-width: 768px) {
  .left {
    height: 20vh;
  }
  .right {
    height: 80vh;
  }
  .logoHeight {
    height: 45%
  }
  .formWidth {
    width: 85%
  }
}