.flexboxContainer {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* Main Axis */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* cross */
  /* align-items: center; */
}
/* shotCut */
/* flex: grow shrink basis */
.flexboxItem {
  width: 200px;
  border: 2px solid #1A6B54;
  background-color: #dfdfdf;
}

.flexboxItem1 {
  min-height: 100px;
  flex-shrink: 0;
  align-self: end;
}

.flexboxItem2 {
  min-height: 200px;
  flex-grow: 2;
  flex-basis: 0;
  align-self: center;
}

.flexboxItem3 {
  min-height: 400px;
  flex-grow: 1;
  flex-basis: 0;
}