.slideMenu * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.slideMenu li {
  list-style: none;
}

.slideMenu a {
  text-decoration: none !important;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
}

.menu {
  padding: 0.5rem;
}

.selectableItem {
  cursor: pointer;
  border-radius: 4px;
}

.selectableItem:hover {
  cursor: pointer;
  background-color: #d3adf7;
}

.animePaddingLeft:hover {
  padding-left: 0.5rem;
  transition: padding 250ms ease-out;
}

.subMenuItemMain {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
}

.subMenuItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.2rem 0.3rem 0.2rem;
}

.subMenuItemHeaderOpen {
  background-color: #d3adf7;
}

.subMenuItemWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.subMenuItemWrapperInner {
  overflow: hidden;
}

.subMenuItemWrapperInnerOpen {
  grid-template-rows: 1fr;
}

.iconArrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.iconArrowDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.iconArrowUp {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}