.slideMenu * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.slideMenu li {
  list-style: none;
}

// .show {
//   left: 0px !important;
//   visibility: visible !important;
// }

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  // left: 0;
  // visibility: hidden;
  // -webkit-transition: all 1s ease;
  // transition: all 1s ease;
}

.menu {
  padding: 1rem;
}

.selectableItem {
  cursor: pointer;
  padding-left: 1.2rem;
  border-radius: 4px;
}

.selectableItem:hover {
  cursor: pointer;
  // padding-left: 20px;
  background-color: #d3adf7;

}

.subMenuItemMain {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
}

.subMenuItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subMenuItemWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.subMenuItemWrapperInner {
  overflow: hidden;
}

.subMenuItemWrapperInnerOpen {
  grid-template-rows: 1fr;
}